body{
    background-color: red;
}

#wrapper{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    margin-top:150px;
    padding-top:20px;
    background-color: blue;
    position: relative;
}

header{
    width: 100%;
    background-color:rgb(165, 165, 34);
    height: 200px;
}

#menu{
    background-color:rgb(82, 204, 204);
    width: 100px;
    height: 100px;
    margin: 10px;
}